* {
  box-sizing: border-box;
}

nav {
  position: sticky;
  border: 1px solid red;
  width: 100%;
  top: 0;
}

body {
  font-family: "Exo";
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

.__d-flex {
  display: flex;
}

.__nav-wrap {
  width: 20%;
}

.__main-doc {
  width: 80%;
}
