* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #00ffeb;
}

nav {
  position: sticky;
  width: 100%;
  top: 0;
}

nav ul li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

nav ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Exo";
  background: black;
  color: white;
}

header {
  color: white;
  margin: 3rem;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

nav header {
  text-align: left;
  margin: 3rem;
}

.__d-flex {
  display: flex;
}

.__nav-wrap {
  width: 20%;
}

.__main-doc {
  width: 80%;
  padding: 0 3rem;
}
